//
//  Development.xcconfig
//  CityAssistant
//
//  Created by Jules Maslak on 6/24/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BackstoneUrl =  https:/$()/f42a-2604-2d80-4d02-500-a010-e30a-b18f-25ed.ngrok-free.app/ //the $() has to be there to stop it from being interpreted as a comment, open to suggestions on another method
